@charset "UTF-8";

@media (max-width: 520px) {
    
    #tarefas-conteiner {
        width: 90vw;
    }

    .concluir-btn {
        background-color: #469223;
    }

    .excluir-btn {
        background-color: #d43838;
    }

}