@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #232392, #612f7e);
    color: white;
    text-align: center;
    padding-top: 30px;
}

.titulo {
    background-color: #469223;
    border-radius: 30px;
    text-align: center;
}

.titulo h1 {
    font-family: cursive;
    padding: 30px;
}

#tarefas-conteiner {
    width: 500px;
    margin: 0 auto;
}

#tarefas-header {
    margin-top: 40px;
}

#add-tarefa-form {
    position: relative;
}

#add-tarefa-form input {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    padding: 15px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
}

#add-tarefa-form input::placeholder {
    color: black;
    font-size: 18px;
}

#add-btn {
    position: absolute;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    transition: .5s;
    width: 60px;
    height: 53px;
    top: 3px;
    right: 3px;
    border-radius: 30px;
}

#add-btn:hover {
    background-color: #612f7e;
    color: #fff;
}

ion-icon {
    font-size: 25px;
}

#lista-de-tarefas {
    list-style: none;
    padding-left: 0;
}

#lista-de-tarefas li {
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 1px solid black;
    background-color: #fff;
    color: #000;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: .5s;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid black;
}

#lista-de-tarefas ion-icon {
    position: absolute;
    top: 0;
    height: 40px;
    transition: .5s;
    cursor: pointer;
    padding: 5px 10px;
}

.concluir-btn {
    right: 45px;
}

.concluir-btn:hover {
    background-color: #23926d;
    color: #fff;
}

.excluir-btn {
    right: 0;
    border-radius: 0px 30px 30px 0px;
}

.excluir-btn:hover {
    background-color: #d43838;
    color: #fff;
}

.hide {
    display: none;
}

#lista-de-tarefas li.done {
    background-color: #612f7e;
    color: #fff;
    text-decoration: line-through;
}